* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 50px;
    background-color: lightskyblue;
    padding: 40px 50px;
    border-radius: 10px;
    font-family: monospace;
}

button {
    background-color: rgb(92, 168, 143);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}