*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, 
body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #112;
    gap: 20px;
}

h1{
    background-color: gray;
    padding: 50px 70px;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset;
}
