* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #090909;

}

h2 {
    font-size: 50px;
}

button {
    color: rgb(7, 168, 114);
    padding: 10px 20px;
    margin-top: 20px;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}